<div class='show-page'>
  <div class='show-book'>
    <div class='show-window'>
      <div class='show-text'><%= @diary.title %>
      </div>
      <div class='show-text'><%= @diary.text %>
      </div>
    </div>
  </div>
  <%= link_to "一覧に戻る", root_path, class: :return_toppage %>
</div>