.diary-area {
  background-image: image-url('book.jpg');
  background-size: cover;
  height: 100%;
}

.list {
  background-image: image-url('bookmark1.png');
  background-size: cover;
}

.show-page {
  background-image: image-url('wood_m.jpg');
}

.landing-page {
  background-image: image-url('book.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.devise-back {
  background-image: image-url('wood_m.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
