/* 共通エリア */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: calc(100vw - calc(100vw - 100%));
  background-color: #f5deb3;
}

.error-text {
  color: red;
}

/* メインエリア */

.main-wrapper {
  display: flex;
  height: calc(100vh - 60px);
  overflow-y: hidden;
}

.point-area {
  width: 200px;
  background-color: rgb(54, 143, 92);
  height: 100vh;
  display: flex;
  justify-content: center;
}

.tree-images {
  position: absolute;
  bottom: 0px;
}

.diary-area {
  width: calc(100vw - calc(100vw - 100%) - 200px);
  height: 100%;
  overflow-y: scroll;
}

.all-diary {
  display: flex;
  flex-wrap: wrap;
}

.list {
  font-size: 20px;
  height: 120px;
  width: 380px;
  border: 5px outset blue;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  overflow: hidden;
}

/* showエリア */

.show-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.show-window {
  margin: 100px;
  font-size: 25px;
  border: 10px outset blue;
  border-radius: 10px;
  padding: 10px;
  overflow-y: scroll;
}

.show-text {
  white-space: pre-line;
}