/* 共通エリア */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: calc(100vw - calc(100vw - 100%));
  background-color: #fff8dc;
}

.error-text {
  color: red;
}

/* indexページ */

.main-wrapper {
  display: flex;
  height: calc(100vh - 60px);
  overflow-y: hidden;
}

.point-area {
  width: 200px;
  background-color: #c7fdc7;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.tree-images {
  position: absolute;
  bottom: 0px;
}

.tree-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.diary-area {
  width: calc(100vw - calc(100vw - 100%) - 200px);
  height: 100%;
  overflow-y: scroll;
}

.all-diary {
  display: flex;
  flex-wrap: wrap;
}

.list {
  font-size: 20px;
  height: 120px;
  width: 380px;
  padding: 20px;
  margin: 12px;
  overflow: hidden;
  box-shadow: 15px 15px 20px -6px rgba(0,0,0,0.6);
}

.diary-date, .diary-title {
  padding-left: 20px;
  padding-right: 50px;
}

/* 未ログイン */

.landing-page {
  display: flex;
  justify-content: left;
  align-items: center;
}

.top-message {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}

.registration-btn {
  font-size: 20px;
}



/* showページ */

.show-page {
  height: calc(100vh - 60px);
  width: 100vw;
  display: flex;
  justify-content: center;
}

.show-book {
  margin: 20px;
  padding: 0 30px 50px 30px;
}

.show-window {
  font-size: 20px;
  overflow-y: scroll;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  color: #696969;
  margin: 2em 0;
  font-weight: bold;
  border: solid 1px #e6e6e6;
  padding: 0.3em 1em 2em 1em;
  box-shadow:2px 2px 0 rgba(0,0,0,.1);
}

.show-text{
  white-space: pre-line;
  background-color: #fff;
  background-image:
  linear-gradient(180deg, rgba(100, 100, 100, 0) 0%, rgba(100, 100, 100, 0) 98%, #646464 100%);
  background-size: 100% 2em;
  line-height: 2em;
  padding: 2em 1em 0.2em 1em;
}