/* 共通エリア */

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.error-text {
  color: red;
}

.notice, .alert {
  color: red;
}


/* devise */
.devise-back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-wrap {
  font-size: 25px;  
  background-color: #fff8dc;
  border-radius: 10px;
  padding: 20px;
}

.retrun-text {
  font-size: 15px;
}




/* indexページ */

.main-wrapper {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}

.diary-side-bar {
  width: 200px;
  background-color: #fff8dc;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  border: brown 10px solid;
  flex-flow: column;
  padding-left: 20px;
}

.side-name {
  font-size: 100%;
}

.use_name {
  font-size: 20px;
}

.side-point {
  font-size: 20px;
}

.game_page {
  font-size: 20px;
}

.new_diary_btn {
  font-size: 20px;
}

.logout {
  font-size: 20px;
}

.diary-area {
  width: calc(100vw - calc(100vw - 100%) - 200px);
  height: 100%;
  overflow-y: scroll;
}

.all-diary {
  display: flex;
  flex-wrap: wrap;
}

.list {
  font-size: 20px;
  height: 120px;
  width: 380px;
  padding: 20px;
  margin: 12px;
  overflow: hidden;
  box-shadow: 15px 15px 20px -6px rgba(0,0,0,0.6);
}

.diary-date, .diary-title {
  padding-left: 20px;
  padding-right: 50px;
}

/* 未ログイン */

.landing-page {
  display: flex;
  justify-content: left;
  align-items: center;
}

.top-message {
  font-size: 30px;
  font-weight: bold;
  margin-left: 30px;
}

.registration-btn {
  font-size: 20px;
}



/* showページ */

.show-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.show-book {
  margin: 20px 20px 100px 20px;
  padding: 0 30px 50px 30px;
}

.show-window {
  font-size: 20px;
  overflow-y: scroll;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  min-width: 80vw;
  max-width: 90vw;
  color: #696969;
  margin: 2em 0;
  font-weight: bold;
  border: solid 1px #e6e6e6;
  padding: 0.3em 1em 1em 1em;
  box-shadow:2px 2px 0 rgba(0,0,0,.1);
}

.show-text{
  white-space: pre-line;
  background-color: #fff;
  background-image:
  linear-gradient(180deg, rgba(100, 100, 100, 0) 0%, rgba(100, 100, 100, 0) 98%, #646464 100%);
  background-size: 100% 2em;
  line-height: 2em;
  padding: 2em 1em 0.2em 1em;
}

.return_toppage {
  width: 120px;
  background: #e4e5e6;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

/* newページ */

.new-diary-back {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea.note{
  line-height: 20px;
  background: linear-gradient(to bottom, #eee 1px, white 1px);
  background-size: 100% 20px;
  background-origin: content-box;
  background-attachment: local;
  height: 60vh;
  width: 80vw;
}

.title_new  {
  width: 40vw;
}

.return_toppage_new {
  font-size: 16px;
  width: 120px;
  background: #e4e5e6;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

/* pointページ */

.point-side-bar {
  width: 200px;
  background-color: #fff8dc;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  border: brown 10px solid;
  flex-flow: column;
  padding-left: 20px;
}

.point-page-wrapper {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}

.point-area {
  width: calc(100vw - calc(100vw - 100%) - 200px);
  height: 100%;
  overflow-y: scroll;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-btn {
  font-size: 20px;
}

/* .how_to_useページ */

.how_to_use-main {
  display: flex;
  overflow-y: scroll;
  width: calc(100vw - calc(100vw - 100%));
  height: 100vh;
}

.how_to_use {
  font-size: 25px;
  font-weight: bold;
  margin-left: 30px;
}

.how_to_use_image {
  width: 450px;
}

.how_tu_use-window {
  display: flex;
  flex-wrap: wrap;
}

.how_to_use-list {
  padding: 20px;
  margin: 12px;
}